body{
     font-family: "Caveat", cursive;
     margin: 0%;
     background-image: url('./lib/img/paper.jpg');
     background-repeat: no-repeat;
     color: rgb(60, 60, 60);
     width: 100%;
}

h1{
     text-align: center;
     font-size: 5em;
     margin: 0%;
}

.main{
     display: flex;
     align-items: center;
     flex-direction: column;
}

li{
     padding-top: 16px;
}

.clear{
     margin-top: 0.9em;
}

@media screen and (max-width: 2600px){
     h1{
          padding-top: 4.5px;
     }
}




